.asistenteDiv {
   
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    
    
    opacity: 1;
    visibility: visible;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    
    .logoAsistentejil{
        position: fixed;
        width: 400px;
        top: 250px;
        bottom: 0;
        left: 250px;
        right: 0;
    }
    .contenedorForm{
        display: flex;
        justify-content: center;
        width: 25%;

        & > .formLogin{
            display: flex;
            flex-direction: column;
    
            color: white; 
            & > h2 {
                color: white;
            }
            & > form {
                display: flex;
                flex-direction: column;
                & > input {
                    margin: 1rem;
                }
                 
            }
            }

        & > .formAnuncio{
            color: white;
            margin: auto;

        }
        
    }
    
        


}

.active{
    visibility: visible;
    
}

